{% extends 'AppAdminBundle::baseadmin.html.twig' %}

{% block title %} Турнир не найден {% endblock %}

{% block lowheader %}
	{% if tournament.status == 0 %}
		Турнир не найден  
	{% elseif tournament.status == 2 %}
		Турнир находится в архиве
	{% endif %}
{% endblock %}

{% block lowbody %}
<a class='link-back' href='{{ path("app_admin_tournaments") }}'>К СПИСКУ ТУРНИРОВ</a>
<br><br>
{% endblock %}