{% extends 'AppAdminBundle::baseadmin.html.twig' %}

{% block title %} Турниры {% endblock %}

{% block lowheader %} Турниры {% endblock %}

{% block lowbody %}
	{% if is_granted('ROLE_ADMIN') %}
		<a class='nostyle' href='{{ path('app_admin_create') }}'>+ СОЗДАТЬ ТУРНИР</a>
	{% endif %}

	{% if tournaments is empty %}
		<br><br>
		<div class='h4'>АКТИВНЫХ ТУРНИРОВ НЕТ..</div>
	{% endif %}


	{% for tournament in tournaments %}

		<h3>
			{% if tournament.image is not null %}
		 		<img class='tournament-img' src='/public/images/custom/logo/{{ tournament.image }}'>
		 	{% else %}
			 	<img class='tournament-img' src='/public/images/interface/default_logo.png'>
		 	{% endif %}
			<a class='nostyle' href="{{ path('app_admin_tournament', {"tournament": tournament.id}) }}">{{ tournament.name }}</a>
		</h3>

	{% endfor %}

{% endblock %}