{% extends 'AppAdminBundle::baseadmin.html.twig' %}

{% block title %} Турниры {% endblock %}

{% block lowheader %} Турниры {% endblock %}

{% block lowbody %}

{% if is_granted('ROLE_TOURNAMENTS') or is_granted('ROLE_TOURS') %}

	{% if is_granted('ROLE_TOURNAMENTS') %}
		<a class='nostyle' href='{{ path('app_admin_create') }}'>+ СОЗДАТЬ ТУРНИР</a>
		<br><br>
	{% endif %}

	{% if tournaments is empty %}
		<br><br>
		<div class='h4'>АКТИВНЫХ ТУРНИРОВ НЕТ..</div>
	{% endif %}

	{# page navigation #}
	{% set page_navigation = '/adminpanel/tournaments' %}
	{% include 'pagenavigation.html.twig' %}

	<table class='tr-views'>
	{% for tournament in tournaments %}
	<tr>
		<td>
			{% if tournament.image is not null %}
		 		<img class='tournament-img' src='/public/images/custom/logo/{{ tournament.image }}'>
		 	{% else %}
			 	<img class='tournament-img' src='/public/images/interface/default_logo.png'>
		 	{% endif %}
		</td>
		<td>
			<a class='nostyle' href="{{ path('app_admin_tournament', {"tournament": tournament.id}) }}">{{ tournament.name }}</a>
		</td>
	</tr>
	{% endfor %}
	</table>

	{# page navigation #}
	{% include 'pagenavigation.html.twig' %}	

{% else %}
		Вам закрыт доступ в этот раздел
{% endif %}

{% endblock %}