{# app/Resources/views/email/password_resetting.email.twig #}

{% block subject %}Восстановление пароля{% endblock %}

{% block body_text %}
{% autoescape false %}
Hello {{ user.username }} !

You can reset your password by accessing {{ confirmationUrl }}

Greetings,
the App team
{% endautoescape %}
{% endblock %}

{% block body_html %}

    <p>Приветствуем, {{ user.username }}!</p>
    <p>Для восстановления пароля пройдите по <a href="{{ confirmationUrl }}">ссылке</a></p>
    <p>С уважением, <a href="http://juvepro.ru">juvepro.ru</a>.</p>

{# {% include 'Email/email.html.twig' %} #}
{% endblock %}