{% extends 'base.html.twig' %}

{% block title %} {% if nav == 'tournament' %} Турниры {% elseif nav == 'archive' %} Архив {% endif %} {% endblock %}

{% block header %} {% if nav == 'tournament' %} Турниры {% elseif nav == 'archive' %} Архив {% endif %} {% endblock %}

{% block content %}

	{% if tournaments is empty %}
		<div class='h4'>ТУРНИРОВ НЕТ..</div>
	{% endif %}

	{# page navigation #}
	{% set page_navigation = '/'~nav~'s' %}
	{% include 'pagenavigation.html.twig' %}

	{% for tournament in tournaments %}

		<h2>
			{% if tournament.image is not null %}
		 	<img class='tournament-img' src='/public/images/custom/logo/{{ tournament.image }}'>
		 	{% else %}
		 	<img class='tournament-img' src='/public/images/interface/default_logo.png'>
		 	{% endif %}
			<a class='nostyle' href='{{ nav }}/{{ tournament.id}}'>{{ tournament.name }}</a>
			{% if tournament.status == 3 or tournament.status == 4 %}
				<sup><span class='texttop'>(ПРИЕМ ЗАЯВОК)</span></sup>
			{% endif %}
		</h2>

	{% endfor %}

	{# page navigation #}
	{% include 'pagenavigation.html.twig' %}	

{% endblock %}