{% extends 'base.html.twig' %}

{% block title %} Турнир не найден {% endblock %}

{% block header %} Турнир не найден {% endblock %}

{% block content %}
<a class='link-back' href='{{ path("app_tournament_list") }}'><i class='fa fa-arrow-left'></i> К СПИСКУ ТУРНИРОВ</a>
<br>


{% endblock %}