{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel='stylesheet' type='text/css' href="{{ asset('/bundles/appcore/css/core.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/bundles/appcore/js/core.js') }}"></script>
{% endblock %}

{% block title %} Турнир не найден {% endblock %}

{% block header %} Турнир не найден {% endblock %}

{% block content %}
<a class='back-link' href='{{ path("app_core_tournaments") }}'>К СПИСКУ ТУРНИРОВ</a>
<br><br>


{% endblock %}