{% extends 'AppAdminBundle::baseadmin.html.twig' %}

{% block title %} Админка: Турниры {% endblock %}

{% block low_header %} Турниры {% endblock %}

{% block low_body %}

	<h4><a href='{{ path('app_admin_create') }}'>+ СОЗДАТЬ ТУРНИР</a></h4>

	{% if tournaments is empty %}
		<br>
		<div class='h4'>АКТИВНЫХ ТУРНИРОВ НЕТ..</div>
	{% endif %}


	{% for tournament in tournaments %}

		<h3>
			{% if tournament.image is not null %}
		 		<img class='tournament-img' src='/bundles/appcore/images/custom/logo/{{ tournament.image }}'>
		 	{% else %}
			 	<img class='tournament-img' src='/public/images/interface/default_logo.png'>
		 	{% endif %}
			<a href="{{ path('app_admin_tournament', {"tournament": tournament.id}) }}">{{ tournament.name }}</a>
		</h3>

	{% endfor %}

{% endblock %}