.tournament-img {
	width: 60px;
	max-height: 60px;
	vertical-align: middle;	
}

.tournament-img-header {
	max-width: 50px;
	max-height: 50px;
	vertical-align: bottom;
}

.texttop {
	font-size: 1rem;
	verticatal-align: top !important;
}

.tourlist {
	margin-bottom: 20px;
}

.tourlist > div {
	display: inline-block;
	padding: .2rem;
	min-width: 27px;
	text-align: center;
	margin: 1px -1px;
	font-family: $font_header;
	font-weight: bold;
	background-color: #919ea7;
	color: #fff;
	transition: all .2s ease-out;		
	& a {
		color: #fff;
		display: block;
	}
	&:hover {
		background-color: #657a88;
	}
}

.tourlist-active {
	background-color: #657a88 !important;
}

#tournumber {
	font-weight: bold;
	color: #657a88;
}

.schedule {
	font-family: $font_header;
	color: #657a88;
	font-weight: bold;
	font-size: 1.2rem;
	border-spacing: 0 3px;
	border-collapse: separate;
	& tr {
		border: solid 1px red;
	}
	& td {
		width: 120px;
		background-color: #F1F2F3;
		padding: 0 3px;
	}
	& td:first-child {
		text-align: right;
	}
	& td:nth-child(2) {
		width: 50px;
		text-align: center;
	}
}

.hoverlinkteam:hover {
	color: #8c9ba5;
}

.statustour {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: .8rem;
}

.show-score {
	border-spacing: 0 5px;
	& td {
		border: solid 1px #657a88;
		border-right: none;
		padding: .2rem;
	}
	& td:first-child {
		background-color: #657a88;
		color: #fff;
		font-weight: bold;
		font-family: $font_header
	}
	& td:last-child {
		border-right: solid 1px #657a88;
	}
	& td:nth-child(2) {
		text-align: right;
	}
}

.show-team {
	width: 150px;
}

.table-result {
	display: inline-block;
	height: 25px;
	width: 25px;
	margin: 0 !important;
}

.show-table-result {
	padding: .2rem .2rem 0 .2rem !important;
	background-color: #ffd700;	
	& > input {
		font-weight: bold;
		padding: .1rem;
		margin-bottom: .2rem;
		border-radius: .2rem; 
	}
}

.ifscore {
	height: 20px;
	color: $color_red;
	font-weight: bold;
}

.disabled-input {
	background-color: #ffd700;
}

.showtour {
	display: block;
}