textarea {
	height: 150px !important;
	font-size: .9rem;
}

.bbimg, .bbsmile {
	text-align: center;
	padding: .2rem .2rem;
	min-width: 18px;
	font-size: .9rem;
	border: solid 1px #898989;
	color: #898989;
	border-radius: 2px;
	margin-bottom: 1px;
	cursor: pointer;
}

.bbunderline {
	text-decoration: underline;
}

.left {
	text-align: left;
	display: inline-block;
	width: 100%;
}

.right {
	display: inline-block;
	text-align: right;
	width: 100%;
}

.center {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.smilepanel {
	display: none;
}

.smiles {
	cursor: pointer;
}

img.smile {
	vertical-align: text-baseline;
	margin: 0 3px;
}

.sign, .spoiler-name {
	font-weight: bold;
	cursor: pointer;
	color: #848484;
}

.spoiler-body {
	display: none;
	background: #ccc;
	border-radius: 3px;
	padding: 5px;
}

/* post */

.post {
	border-radius: 0 0 5px 5px;
	border: 1px solid #b1b1b1;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);	
}

.post-header {
	background-color: #d9d9d9;
	color: $gray_main;
	font-size: 1rem;
	height: 1.5rem;
	line-height: 1.3;
	font-weight: bold;
	padding: .1rem .5rem 0 0;
	& div {
		display: inline-block
	}
}

.post-header-username {
	/*height: 23px;*/
	& img {
		max-height: 20px;
		vertical-align: top;
		max-width: 23px;
		margin-left: 3px;
	}
}

.post-author {
	padding: 0;
	/*margin-left: 3px;*/
}

.post-header-id {
	float: right;
}

.post-body {
	width: 100%;
	clear: both;
	position: relative;	
	// overflow: hidden;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.post-info {
	vertical-align: top;
	word-wrap: break-word;
	width: 156px;
	text-align: center;
	padding: 2px;
	& > img {
		max-width: 154px;
		max-height: 220px;
		border-radius: 3px;
	}
}

@media all and (max-width: 599px) {
	.post-info {
		width: 100px;
		& > img {
			max-width: 96px;
			max-height: 130px;
		}
	}
}

.post-content {
	overflow: hidden;
}

.post-content-message {
	padding: 0 10px;
	line-height: 1.5;
	word-break: break-word;
	word-break: break-all;
	margin-bottom: 10px;
	width: 100%;
	overflow: hidden;
}

.post-content-old-quote {
	word-break: break-word;
	padding: 0 10px;	
}

.post-content-signature {
	vertical-align: bottom;
	margin: 0 5px;
	& > div {
		display: inline-block;
	}
	& > div img {
		height: 23px;
	}		
}

.post-number {
	text-align: right;
	width: 100px;
	float: right;
	opacity: .3;
	padding: 5px 5px 0 5px;
	& img {
		height: 23px;	
	}
}

.post-signature {
	font-size: .79rem;
	color: #999;
	border-top: solid 1px #ccc;
	vertical-align: bottom;
	padding: 0 5px 0 5px;
	display: inline-block;
}

.post-content-date {
	color: $gray_light;
	padding: 0 0 0 10px;
	font-size: .8rem;
	height: 35px;
}

.content-cell {
	vertical-align: top;
	display: table-cell;

}

.count {
	color: $gray_light;
	margin: 2px 0 0 0;
	font-size: .8rem;
}

.quote {
	color: white;
	background: #b5b5b5;
	padding: 1px 15px;
	font-size: .9rem;
	vertical-align: top;
	margin-right: 7px;
	border-radius: 3px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	vertical-align: 1px;
}

/*rate */
.rate-panel {
	background-color: #FAFAFA;
	min-height: 23px;
	text-align: right;
	border-radius: 0 0 5px 5px;
}

.rank-users {
	display: none;
	margin: 0 10px 3px 0;
	background-color: #FAFAFA;	
}

.like {
	margin-right: 10px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	width: 33px;
	color: #ccc;
	font-size: .9rem;
}

.rank-up, .rank-down {
	font-weight: bold;
	font-size: .8rem;
}

.edit-post {
	cursor: pointer;
	margin-left: 10px;
}

.star {
	color: #CAA91A;
	font-size: 1.1rem;
	margin-right: -3px;
}

.rate {
	font-size: .7rem;
	font-weight: bold;
	color: #818080;
	line-height: 1;
	margin: 4px;
	padding: .2rem;
	box-shadow: 0 0 3px #ccc;
	background-color: #f2f2f2;
	border-radius: 0 20px 0 20px;
}

.post-ranking {
	font-weight: bold;
}

/* quote */
.bookquote {
	padding: 10px 10px;
	background: #f5f5f5;
	display: inline-block;
	border-radius: 0 7px 7px 0;
	border: solid 1px #dcdcdc;
	font-size: .8rem;
	width: 100%;
	color: $gray_main;
}

.quote-author {
	margin-top: 5px;
	display: inline-block;
	padding-left: 7px;
	font-style: italic;
	font-size: .8rem;
	color: $gray_main;
}

/* nach */

.nach {
	text-align: left;
	margin: 5px 7px 7px 7px;
}

.nach-achive {
    cursor: pointer;
    position: relative;
    color: #bcbcbc;
    display: inline-block;
    margin-left: -2px;
}

.toolkit {
	min-width: 100px;
	font-size: 1rem;
	font-family: $font_header;
	display: none;
	position: absolute;
	z-index: 2;
	bottom: 12px;
	padding: .3rem;
	cursor: default;
}

.toolkit-info {
	padding: 2px 0;
	background: #999;
	color: #fff;
	font-weight: bold;
	max-width: 30px;
	width: 30%;
	display: inline-block;
	box-shadow: 1px -1px 3px #ccc;	
	text-align: center;
}

.toolkit-body {
	padding: 2px 0;
	display: inline-block;
	width: 65%;
	text-align: center;
	background: #fff;
	box-shadow: 1px -1px 3px #ccc;	
	color: #7e7e7e;
}

.triangle {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #999;	
}

/* topnach */
.topnach {
	text-align: left;
	margin: 10px 0 0 4px;
}

.topnach-achive {
    cursor: pointer;
    position: relative;
    color: #737373;
    margin-left: 4px;    
}

.toptoolkit {
	display: none;
	position: absolute;
	z-index: 1;
	left: 15px;
	top: -15px;
	box-shadow: 1px -1px 3px #ccc;
	cursor: default;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);	
}

/* media toptoolkit */
@media all and (max-width: 400px) { .toptoolkit { width: 250px; } }
@media all and (min-width: 401px) and (max-width: 599px) { .toptoolkit { width: 340px; } }
@media all and (min-width: 600px) { .toptoolkit { width: 450px; } }

.toptoolkit-info {
	padding: 8px 14px;
	font-size: 1.2rem;
	font-weight: 400;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	border-radius: 5px 5px 0 0;
	font-family: $font_header;
	line-height: 1.3;
}

.toptoolkit-body {
	text-align: center;
	background: #fff;
	padding: 9px 14px;	
	font-size: .9rem;
	line-height: 1.3;
}

.toptriangle {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #999;
}

.topnach-img {
	width: 13px;
}

.info-post-edit {
	color: #999;
	padding: 0 10px;
	font-size: .8rem;
	font-style: italic;
	height: 30px;
}

.message-anchor {
	margin-bottom: 5px;
	& a {
		color: #8c9ba5;
	}
}

.newbook {
	border-collapse: collapse;
	width: 100%;
}

.signature-line {
	height: 30px;
}

.signature-line:last-child {
	width: 100px;
}

.id-show {
	padding-right: .1rem;
}