/* fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=cyrillic');

/* presets */
$brand_black: #333;
$color_black: #444;
$navbar_height: 30px;
$font_header: 'Open Sans Condensed', sans-serif;

/* media */
@media all and (max-width: 339px) {
	.brand {
		display: none !important;
	}
	#navigation ul li {
		width: 25% !important;
	}
	#navigation li ul li {
		width: 100% !important;
	}
}

@media all and (max-width: 599px) {
	body {
		font-size: 14px;
	}
}

@media all and (min-width: 600px) {
	body {
		font-size: 15px;
	}
}

/* common */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	color: $color_black;
	background-color: $gray_lightest;
}

body {
	font-family: $font-family-base;
	line-height: 1.6;
	align-items: center;
}

#main {
	margin: 0 auto;
	min-height: 100%;
	max-width: 1200px;
	background-color: $white;
}

#empty {
	height: 50px;
}

* {
	box-sizing: border-box;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* reset */
.nostyle {
	color: inherit;
	font-size: inherit;
}

.nostyle:hover {
	color: inherit;
	font-size: inherit;
}

.hidden {
	display: none !important;
}

.opacity {
	opacity: 0;
}

.nomargin {
	margin: 0;
}

/* link */
a {
	text-decoration: none;
	color: #0275d8;
	transition: all .2s ease-out;
	cursor: pointer;
}

a:hover {
	color: #014c8c;
}

.link-back {
	color: $brand_black;
	display: inline-block;
	margin: 0 0 15px 10px;
	&:hover {
		color: #555;
	}
}

.link-black {
	color: #676767;
}

.link-black:hover {
	color: #989898;
}

/* headers */

h1, h2, h3, h4, h5, h6 {
	font-family: $font_header;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font_header;
	font-weight: normal;
	margin-bottom: 15px;
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

 /* navigation */

#navigation {
	height: $navbar_height;
	background-color: $brand_black;
	font-family: $font_header;
	font-size: 1rem;
	z-index: 1;
	/*width: 100%;*/
	position: relative;	
}

#navigation ul {
	width: 100%;
	margin: 0 auto;
/*	background-color: $brand_black;	
	max-width: 1200px;
	height: $navbar_height;*/
}

#navigation li {
	display: inline-block;
	width: 20%;
	text-align: center;
	background-color: $brand_black;	
	list-style: none;
	vertical-align: top;
}

#navigation li ul li {
	width: 100%;
}

#navigation a {
	margin: 0;
	padding: 0;
	color: $gray_lighter;
	display: block;
	font-weight: 600;
	line-height: 1.6;
	font-size: 1.2rem;
	width: 100%;
	height: $navbar_height;
	transition: all .2s ease-out;
	&:hover {
		background-color: #424242;
		color: $white;
	}
}

#navigation li ul {
	display: none;
	height: auto;
	& li a {
		line-height: 2;
		font-size: 1rem;
	}
}

li.brand {
	height: $navbar_height;
	& > img {
		height: $navbar_height;
	}
}

/* header */

#header {
	margin: 0 auto;
	max-height: 250px;
	max-width: 1200px;
	& table {
		width: 100%;
		text-align: center;
	}
	& table td > img {
		width: 100%;
		max-width: 170px;
	}
}

/* content */

#content {
	margin: 0 auto;
	max-width: 1200px;
	box-sizing: border-box;
	padding: 10px;
}

/* footer */

#footer {
	margin: 0 auto;
	border-top: solid 1px #ccc;
	background-color: #333;
	height: 30px;
	margin-top: -30px;
	color: #999;
	text-align: center;
	max-width: 1200px;
	& div {
		border-right: solid 1px #999;
		display: inline-block;
		text-align: center;
		font-size: .9rem;
		text-transform: uppercase;
		font-family: $font_header;
		padding: .1rem .6rem .1rem .3rem;
	}
	& div:last-child {
		border-right: none;
	}
}

/* width */
.middle {
	max-width: 400px;
}

.small {
	max-width: 200px;
}

.inline {
	display: inline-block !important;
}

.extra-small {
	width: 35px !important;
	text-align: center;
}

.nolineheight {
	line-height: 1.1;
}

/* icons */
.fa-fix {
	color: #676767;
	margin-right: 10px;
}

/* forms */
input:not([type='submit']), select, textarea {
	width: 100%;
	padding: 0.4rem 0.4rem;
	border: 1px solid #d5d5d5;
	/*margin: 0 5px 10px 5px;*/
	margin-bottom: 10px;
	font-size: 1rem;
	display: block;
	transition: all .2s ease-in-out;
	&:focus {
		outline: none;
		border: 1px solid #b0b0b0;
	}
}

input[type='checkbox'], input[type='radio'] {
	width: auto;
	display: inline-block;
}


.button {
	cursor: pointer;
	padding: .2rem 1rem;
	font-size: 1rem;
	transition: all .2s ease-in-out;
	border: solid 1px #ccc;
	border-radius: .2rem;
	margin: 0 10px 2px 0;
}

.button:focus {
	border: solid 1px #d5d5d5;
}

.button-main {
	color: #292b2c;
	background-color: #fff;
	&:hover {
		background-color: #E6E6E6;
		border: solid 1px #ADADAD;
	}
}

.button-access {
	color: #fff;
	background-color: $green;
	&:hover {
		background-color: #35bc35 !important;
		border: solid 1px #ADADAD;
	}
}


.cursor {
	cursor: pointer;
	position: absolute;
	padding-left: 3px; 
	color: #999;
}
.strong-600 {
	font-weight: 600;
}

/* file input */
.file-style {
	height: 40px;
	cursor: pointer;
	margin-bottom: 10px;
}

.in-file {
	padding: 4px 10px;
	font-size: 2rem;
	background-color: #ccc;
	cursor: pointer;
	position: relative;
	top: 41px;
}

.in-file-text {
	height: 40px;
	font-size: .8rem;
	position: relative;
	padding: .2rem .2rem;
	top: 35px;
}

/* errors */
.display-error {
	color: $red;
	margin: 5px;
	font-size: .8rem;
}

/* text format */

.s08 {
	font-size: .8rem !important;
}

.justify {
	text-align: justify;
}

.background-gray {
	background-color: $gray_lighter;
}

.background-green {
	background-color: $green;
}

.background-red {
	background-color: $red;
}

.bg-white {
	background-color: #fff;
}

.bg-green {
	background-color: #b7ffb7;
}

.bg-red {
	background-color: #fbb;
}

.bg-yellow {
	background-color: #FFFFCC;
}

.gray {
	color: $gray-lighter;
}

.green {
	color: $green;
}

.orange {
	color: #c8850a;
}

.red {
	color: $red;
}

.bold {
	font-weight: bold;
}

.uppercase {
	text-transform: uppercase;
}

.little {
	font-size: .9rem !important;
}

.size-small {
	font-size: .7rem;
}

.normal {
	font-weight: normal;
}

.text-small {
	font-size: .8rem;
}

.no-border {
	border: none !important;
}

/* alert */

.alert {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
}

.alert-info {
	background-color: #d9edf7;
	border-color: #bcdff1;
	color: #31708f;
}

/* page navigation */

.pagenation {
	margin: 10px 0;
}

.pagenation > div {
	border: solid 1px #ccc;
	display: inline-block;
	text-align: center;
	font-size: .8rem;
	padding: .2rem 0;
	min-width: 25px;
	border-radius: 3px;
	background-color: #bdbdbd;
	&:hover {
		background-color: #999;
	}
	& > a {
		color: #fff;
		font-weight: bold;
		display: block;
		&:hover {
			color: #fff;
		}
	}
}

.active-page {
	background-color: #999 !important;
}

.navigation-empty {
	background-color: #fff !important;
	border-color: #fff !important;
}

/* panel */
.panel {
	border: solid 1px #ccc;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px; 
}

.nota {
	display: inline-block !important;
	color: $gray_lighter;
	font-weight: 600;
	line-height: 1.6;
	font-size: 1.2rem;
	transition: all .2s ease-out;
	&:hover {
		background-color: #424242;
		color: $white;
	}
}

.signature {
	border-top: solid 1px #ccc;
	color: #657a88;
	font-size: .8rem;
	margin-top: 20px;
}