/* users */
.board-sort {
    width: auto;
    background: #E6E6E6;
    font-size: .8rem;
    margin: .25rem;
    text-align: right;
    padding: .25rem;
    border: solid 1px #e4e4e4;
}

.container-users {
    display: flex;
    flex-wrap: wrap;
}

.board-user {
    display: flex;
    width: 280px;
    margin: 5px;
    border: solid 1px #ccc;
    font-size: .9rem;
    font-family: $font_header;
    & span {
        font-size: 1.2rem;
    }
    & div:first-child {
        width: 110px;
    }
    & img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 5px;
        padding: 3px;
    }
}

.users-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.user-block {
    margin: 5px 5px 25px 5px;
    flex-basis: 300px;
    flex-shrink: 0;
    & > img {
        max-width: 200px;
        max-height: 200px;
        border: solid 1px #f2f2f2;
        box-shadow: 1px 1px 2px #f2f2f2;
    }
}

.user-block > ul li {
    border-bottom: solid 1px #ccc;
    padding-bottom: 5px;
    padding-top: 5px;
}

.shirt {
    text-align: center;
    position: relative;
}

.shirt-numero {
    width: 80px;
    position: absolute;
    left: 109px;
    top: 50px;
}

.shirt-numero > img {
    height: 60px;
}

.img-profile {
    max-width: 200px;
    max-height: 200px;
}

.achive-little {
    max-width: 25px !important;
    max-height: 25px !important;
    padding: 0 !important;
}