/* fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');

/* presets */
$brand_black: #333;
$navbar_height: 30px;
$font_header: 'Open Sans Condensed', sans-serif;

/* media */
@media all and (max-width: 399px) {
	.brand {
		display: none;
	}
}

/* common */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	color: $brand_black;
}

body {
	font-family: $font-family-base;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1rem;
}

* {
	box-sizing: border-box;
}

.basis {
	flex: 0 0 auto;
	width: 100%;
	// border-right: solid 1px #d9d9d9;
	// border-left: solid 1px #d9d9d9;
	/*box-shadow: 2px 0 1px -1px #ccc, -2px 0 1px -1px #ccc;*/
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* reset */
.nostyle {
	color: inherit;
	font-size: inherit;
}

.nostyle:hover {
	color: inherit;
	font-size: inherit;
}

.hidden {
	display: none !important;
}

.opacity {
	opacity: 0;
}

.nomargin {
	margin: 0;
}

/* link */
a {
	text-decoration: none;
	color: #0275d8;
	transition: all .2s ease-out;	
}

a:hover {
	color: #014c8c;
}

.link-back {
	color: $brand_black;
	display: inline-block;
	margin: 0 0 15px 10px;
	&:hover {
		color: #555;
	}
}

.link-black {
	color: #676767;
}

.link-black:hover {
	color: #989898;
}

/* headers */

h1, h2, h3, h4, h5, h6 {
	font-family: $font_header;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font_header;
	font-weight: normal;
	margin-bottom: 15px;
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

 /* navigation */

#navigation {
	height: $navbar_height;
	background-color: $brand_black;
	font-family: $font_header;
	font-size: 1rem;
	z-index: 1;
}

#navigation ul {
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	background-color: $brand_black;	
	align-items: stretch;
	max-width: 1200px;
	height: $navbar_height;
}

#navigation li {
	width: 100%;
	text-align: center;
	background-color: $brand_black;	
}

#navigation a {
	color: $gray_lighter;
	display: block;
	font-weight: 600;
	line-height: 1.6;
	font-size: 1.2rem;
	height: $navbar_height;
	transition: all .2s ease-out;
	&:hover {
		background-color: #424242;
		color: $white;
	}
}

#navigation li ul {
	display: none;
	height: auto;
	& li a {
		line-height: 2;
		font-size: 1rem;
	}
}

/* header */

#header {
	background-color: #cbe;
	height: 200px;
	max-width: 1200px;
	& img {
		height: 200px;
	}
}

/* content */

#content {
	flex: 1 0 auto;
	max-width: 1200px;
	box-sizing: border-box;
	padding: 10px;
}

/* footer */

#footer {
	border-top: solid 1px #ccc;
	background-color: #333;
	color: #999;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	& div {
		width: 100%;
		text-align: center;
		font-size: .9rem;
		text-transform: uppercase;
		font-family: $font_header;
		padding: .3rem;
	}
}

/* width */
.middle {
	max-width: 400px;
}

.small {
	max-width: 200px;
}

.inline {
	display: inline-block !important;
}

.extra-small {
	width: 30px !important;
	text-align: center;
}

/* icons */
.fa-fix {
	color: #676767;
	margin-right: 10px;
}

/* forms */
input:not([type='submit']), select, textarea {
	width: 100%;
	padding: 0.4rem 0.4rem;
	border: 1px solid #d5d5d5;
	/*margin: 0 5px 10px 5px;*/
	margin-bottom: 10px;
	font-size: 1rem;
	display: block;
	transition: all .2s ease-in-out;
	&:focus {
		outline: none;
		border: 1px solid #b0b0b0;
	}
}

input[type='checkbox'], input[type='radio'] {
	width: auto;
	display: inline-block;
}


.button {
	cursor: pointer;
	padding: .2rem 1rem;
	font-size: 1rem;
	transition: all .2s ease-in-out;
	border: solid 1px #ccc;
	border-radius: .2rem;
	margin: 0 10px 2px 0;
}

.button:focus {
	border: solid 1px #d5d5d5;
}

.button-main {
	color: #292b2c;
	background-color: #fff;
	&:hover {
		background-color: #E6E6E6;
		border: solid 1px #ADADAD;
	}
}

.button-access {
	color: #fff;
	background-color: $green;
	&:hover {
		background-color: #35bc35 !important;
		border: solid 1px #ADADAD;
	}
}


.cursor {
	cursor: pointer;
	position: absolute;
	padding-left: 3px; 
	color: #999;
}
.strong-600 {
	font-weight: 600;
}

/* file input */
.file-style {
	height: 40px;
	cursor: pointer;
	margin-bottom: 10px;
}

.in-file {
	padding: 4px 10px;
	font-size: 2rem;
	background-color: #ccc;
	cursor: pointer;
	position: relative;
	top: 41px;
}

.in-file-text {
	height: 40px;
	font-size: .8rem;
	position: relative;
	padding: .2rem .2rem;
	top: 35px;
}

/* errors */
.display-error {
	color: $red;
	margin: 5px;
	font-size: .8rem;
}

/* text format */

.s08 {
	font-size: .8rem !important;
}

.justify {
	text-align: justify;
}

.gray {
	color: $gray-lighter;
}

.green {
	color: $green;
}

.orange {
	color: #c8850a;
}

.red {
	color: $red;
}

.bold {
	font-weight: bold;
}

.little {
	font-size: .9rem;
}

.normal {
	font-weight: normal;
}

.text-small {
	font-size: .8rem;
}

.no-border {
	border: none !important;
}

/* alert */

.alert {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
}

.alert-info {
	background-color: #d9edf7;
	border-color: #bcdff1;
	color: #31708f;
}

/* page navigation */

.pagenation {
	display: inline-flex;
	margin: 10px 0;
}

.pagenation > div {
	border: solid 1px #ccc;
	text-align: center;
	font-size: .8rem;
	padding: .2rem 0;
	min-width: 25px;
	margin-right: 5px;
	border-radius: 3px;
	background-color: #bdbdbd;
	&:hover {
		background-color: #999;
	}
	& > a {
		color: #fff;
		font-weight: bold;
		display: block;
		&:hover {
			color: #fff;
		}
	}
}

.active-page {
	background-color: #999 !important;
}

.navigation-empty {
	background-color: #fff !important;
	border-color: #fff !important;
}

/* panel */
.panel {
	border: solid 1px #ccc;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px; 
}