.admin-menu > li {
	display: inline-block;
	background-color: #999;
	color: #fff;
	font-weight: bold;
	font-family: $font_header;
	text-transform: uppercase;
	padding: .1rem .3rem;
	margin: 0 .1rem .1rem 0;
	font-size: .9rem;
}

.users-panel-info {
	margin-top: .5rem;
	background-color: #f5f5f5;
	border: solid 1px #ccc;
	cursor: pointer;
	font-size: .8rem;
	padding: .1rem .5rem;
	font-weight: bold;
	color: #777;
	& .panel-with-user {
		width: 150px;
		display: inline-block;
	}
}

.users-panel-body {
	display: none;
	font-size: .8rem;	
	border: solid 1px #ccc;
	border-top: none;
	padding: .2rem;
	padding-bottom: 1rem;
}

.background-warning {
	background-color: #fcf8e3
}

.background-danger {
	background-color: #f2dede;
}

/* upload */

.img-panel > div {
	display: inline-block;
	margin-right: 25px;
	& > img {
	max-width: 50px;
	max-height: 50px;
	}
}

/* numbers */
/* numbers */
.numbers-area {
	margin-top: 10px;
}
.numbers-area div {
	display: inline-block;
	width: 200px;
	padding: 5px 10px;
	background: #f1f1f1;
	margin: 0 15px 15px 0;
	border-radius: 5px;
	border: solid 1px #c2c0c0;
}

.numbers-area div > span:first-child {
	display: inline-block;
	color: #ae9235;
	font-weight: bold;
	font-size: 16px;
}

.delete-center {
	float: right;
	cursor: pointer;
	color: #999;
}

.table-condensed {
	width: 100%;
	& td:first-child {
		width: 70px;
	}
	& td:nth-child(2) {
		width: 130px;
	}
}

.adm-img {
	max-width: 50px;
	max-height: 80px;
}

.post-delete-text {
	font-size: 1rem;
	font-weight: normal;
	padding-left: 10px;
}

.area {
	margin-top: 10px;
}
.area div {
	display: inline-block;
	width: 160px;
	padding: 2px 3px;
	margin: 0 5px 5px 0;
	border-radius: 5px;
	border: solid 1px #c2c0c0;
}

.preteam {
	background: #eee;
	cursor: pointer;
}

.team {
	background: #98e172;
	cursor: pointer;
	border: solid 1px #70bf79;
}

.but {
	display: none;
}

/* add tour */
.score > input, .score > select {
	display: inline-block;
}

.show-tours-teams {
	background-color: #efefef;
	border: 1px solid #d1d1d1;
	padding: .3rem;
	border-radius: 5px;
	margin-bottom: 10px;
}

.access-admins {
	width: 100%;
	& tr:first-child td {
		padding-bottom: 10px;
		font-weight: bold;
	}
}

.rep-image {
	margin-top: 30px;
	max-height: 200px;
	& img {
		max-height: 200px;
	}
}

.rep-info {
	background-color: #cbe;
	font-size: .8rem;
	word-break: break-all;
	& input {
		width: 100%;
	}
}