.tournament-img {
	width: 60px;
	max-height: 60px;
	vertical-align: middle;	
}

.tournament-img-header {
	max-width: 50px;
	max-height: 50px;
	vertical-align: middle;
}

.texttop {
	font-size: 1rem;
	verticatal-align: top !important;
}

.tourlist {
	margin-bottom: 20px;
}

.tourlist > div {
	display: inline-block;
	padding: .2rem;
	min-width: 27px;
	text-align: center;
	margin: 1px -1px;
	font-family: $font_header;
	font-weight: bold;
	background-color: #919ea7;
	color: #fff;
	transition: all .2s ease-out;		
	& a {
		color: #fff;
		display: block;
	}
	&:hover {
		background-color: #657a88;
	}
}

.tourlist-active {
	background-color: #657a88 !important;
}

#tournumber {
	font-weight: bold;
	color: #657a88;
}

.schedule {
	font-family: $font_header;
	color: #657a88;
	font-weight: bold;
	font-size: 1.2rem;
	border-spacing: 0 7px;
	border-collapse: separate;
	& tr {
		border: solid 1px red;
	}
	& td {
		width: 130px;
		background-color: #F1F2F3;
		padding: 0 3px;
	}
	& td:first-child {
		text-align: right;
	}
	& td:nth-child(2), td:nth-child(3) {
		width: 30px;
		text-align: center;
		background-color: #d5dee2;
		border-right: solid 3px #F1F2F3;
	}
}

.hoverlinkteam:hover {
	color: #8c9ba5;
}

.statustour {
	font-weight: bold;
	font-size: .8rem;
}

.show-score {
	border-spacing: 0 5px;
	& td {
		border: solid 1px #657a88;
		border-right: none;
		padding: .2rem;
	}
	& td:first-child {
		background-color: #657a88;
		color: #fff;
		min-width: 4.4rem;
		font-weight: bold;
		font-family: $font_header
	}
	& td:last-child {
		border-right: solid 1px #657a88;
	}
	& td:nth-child(2) {
		text-align: right;
	}
}

.show-team {
	width: 150px;
}

.table-result {
	display: inline-block;
	height: 25px;
	width: 25px;
	margin: 0 !important;
}

.show-table-result {
	padding: .2rem .2rem 0 .2rem !important;
	background-color: #ffd700;	
	& > input {
		font-weight: bold;
		padding: .1rem;
		margin-bottom: .2rem;
		border-radius: .2rem; 
	}
}

.ifscore {
	height: 20px;
	color: $red;
	font-weight: bold;
}

.disabled-input {
	background-color: #ffd700;
}

.ashowtour {
	display: block;
	width: 100%;
	height: 100%;
	color: inherit;
}


/* showgame */

.showgame tr:first-child td {
	font-weight: bold;
}

.showgame {
	border-spacing: 0;
	border: solid 1px #e0dbdb;
	border-bottom: none;
	font-size: .9rem;
	& td:first-child, td:nth-child(2), td:nth-child(3), td:nth-child(4) {
		text-align: center;
	}
	& td:first-child, td:nth-child(2), td:nth-child(3), td:nth-child(4) {
		border-right: 1px solid #e0dbdb;
		width: 25px;
	}
	& td:first-child, td:nth-child(4) {
		width: 100px;
	}
	& td:nth-child(2), td:nth-child(3) {
		background-color: #e8e8e8;
	}
}

.showgame td {
	padding: .3rem;
	border-bottom: solid 1px #e0dbdb;
}

.showgame tr:first-child td {
	background-color: #ededed;
}


.showgame tr:first-child td:last-child {
	text-align: center
}

.showgame tr:nth-child(2n) {
	background-color: #FBFBFB;
}

.showgame tr:nth-child(2n+1) {
	background-color: #F6F6F6
}

.fa-color, {
	color: #bcbcbc;
}

.classifica {
	font-size: .9rem;
	border-collapse: collapse;
	font-family: $font_header;
	display: inline-block;
	color: #657a88;
	td {
		padding: .3rem;
		width: 22px;
		text-align: center;
		height: 35px;
	}
	tr:hover td {
		background-color: #ccc;
	}
	td.classifica-balls {
		width: 35px;
	}
	& td:first-child {
		text-align: right;
	}
	& td:nth-child(3) {
		width: 100px;
		text-align: left;
		font-size: 1rem;
		font-weight: bold;
	}		
	& td:nth-child(4) {
		border-right: solid 1px #ccc;
	}
	& td:nth-child(7) {
		border-right: solid 1px #ccc;
	}
	& td:nth-child(9) {
		width: auto;
	}
	& td:nth-child(10) {
		border-right: solid 1px #ccc;
	}	
	& td:nth-child(11) {
		width: 40px;
	}	
	& tr:first-child > td {
		background-color: #fff;
		font-weight: normal;
		font-size: 0.9rem;
		padding: 0rem .3rem;
		&:nth-child(1) {
			text-align: center;
		}
	}
	& tr:nth-child(2n+1) {
		background-color: #d5dee2;
	}	
	& tr:nth-child(2n) {
		background-color: #F1F2F3;
	}
}

.td-classifica-img {
	width: 35px !important;
	height: 35px !important;
	padding: 0 !important;
	display: block;
	overflow: hidden;
	& div {
		width: 35px !important;
		height: 35px !important;
		background-color: #ccc;
		border-radius: 20px;
		z-index: 999;
		overflow: hidden;
	}
}

.classifica-img {
	width: 35px;
	vertical-align: middle;
}

@media all and (max-width: 351px) {
	.classifica td:nth-child(2) {
		display: none;
	}
}

@media all and (max-width: 300px) {
	.classifica td:nth-child(5), .classifica td:nth-child(6), .classifica td:nth-child(7), .classifica td:nth-child(8), .classifica td:nth-child(9), .classifica td:nth-child(10) {
		display: none;
	}
	.classifica tr:first-child td:nth-child(9) {
		display: table-cell;
	}
}

.table-info {
	text-transform: uppercase;
	margin: 2rem 0 0 0;
	font-family: $font_header;
}

.classifica-ranking {
	& td {
		border-right: solid 1px #ccc !important;
	}
	& td:last-child {
		border-right: none !important;
	}
	& td:nth-child(1), td:nth-child(2), td:nth-child(3) {
		border-right: none !important;
	}
}

.classifica-striker {
	& td {
		border: none !important;
	}
	& td:nth-child(3) {
		border-right: solid 1px #ccc !important;
	}
}

.classifica-body {
	display: inline-block;
	margin: 0 30px 30px 0;
}

.groups_name {
	font-family: $font_header;
	font-size: 1.3rem;
	font-weight: bold;
	margin: 1rem 0 0 0;
}

.border-balls {
	border-right: solid 1px #ccc;
}

.users-area > div {
	display: inline-block;
	border: solid 1px #ccc;
	padding: .2rem;
	font-family: $font_header;
	background-color: $gray_lightest;
	margin: .2rem 0;
}

/* cup board */
.cup-board {
	height: 6px;
	width: 100%;
	background: #DBAC38;
	border-radius: 20px 20px 0 0;
}

.champion-list {
	font-weight: bold;
	margin: 5px 0;
}

.profile-cup {
	height: 50px;
}

.profile-header {
	background: #DBAC38;
	background: linear-gradient(to top, #DBAC38 0%, #ffd666 50%, #DBAC38 100%);
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	padding: 3px 5px;
	border-radius: 0 15px 0 0;
	font-size: 17px;
	margin: 15px 0 10px 0;	
}

.text-right {
	display: inline-block;
	float: right;
}

.table-my-style {
	max-width: 364px;
	border: solid 1px #ccc;
	margin: 10px 10px 0 0;
	display: inline-table;
}

.table-my-style th {
	background: #f5f5f5;
}

.table-my-style tr td {
	padding: 2px 8px !important;
}

.table-my-style td:last-child {
	text-align: right;
}

/* boards in profile */
.tr-body {
	width: 48%;
	border: solid 1px #e0dbdb;
	border-bottom: none;
	font-family: $font_header;
	margin: .4rem .4rem .4rem 0;
	vertical-align: top;
}

@media all and (max-width: 500px) {
	.tr-body {
		width: 100%;
	}
}

.tr-header {
	background-color: #ededed;
	padding: .3rem;
	font-weight: bold;
	color: $gray_light;
}

.tr-line {
	border-bottom: solid 1px #ededed;
	padding: .2rem .3rem;
}

.tr-html > div {
	display: inline-block;
}

.float-right {
	float: right;
}

.body30 {
	width: 32%;
}

@media all and (max-width: 670px) {
	.body30 {
		width: 48%;
	}
}

@media all and (max-width: 450px) {
	.body30 {
		width: 100%;
	}
}

.size09 {
	font-size: 1rem;
	font-family: $font_header;
}

.gamestr {
	font-weight: bold;
	font-size: .9rem;
}

.gamestour {
	color: #999;
	font-weight: bold;
	font-size: .9rem;
}

.gamesusers {
	font-weight: bold;
	color: #4c71a1;
	font-size: .9rem;
}

.showmatches {
	margin: 0 auto;
	text-align: center;
	font-size: 1rem;
	& td {
		padding: 2px 5px;
		margin: 2px;
		border: solid 1px #ccc;
	}
	& td:first-child {
		background-color: #f0eded;
		color: #999;
		font-weight: bold;
		width: 200px;
		border-radius: 5px 0 0 5px;
		text-align: right;
	}
	& td:last-child {
		width: 200px;
		background-color: #f0eded;
		color: #999;
		font-weight: bold;
		border-radius: 0 5px 5px 0;
		text-align: left;
	}
	& td:nth-child(2), td:nth-child(4) {
		width: 50px;
		background-color: #999;
		color: $white;
		font-weight: bold;
	}
	& td:nth-child(3) {
		border: none;
		margin: 0;
		padding: 2px;
	}
}

.showstats {
	width: 100%;
	text-align: center;
	& > div {
		display: inline-block;
		width: 30px;
		font-weight: bold;
	}
}

.player {
	min-width: 80px;
	margin-bottom: 3px;
	font-family: $font_header;
	& > div {
		display: inline-block;
		vertical-align: top;
	}
	& .pos {
		font-size: .9rem;
	}
}

.player-image {
	width: 80px;
	height: 80px;
	& > img {
		height: 70px;
		max-width: 70px;
		margin-left: .3rem;
	}
}

.player-info {
	padding: 0 .3rem;
}

.player-first {
	text-transform: capitalize;
}

.player-second {
	text-transform: uppercase;
}

.player-scored {
	width: 25px;
}

.player-scored-info {
	width: 100px;
}

.show_image {
	font-size: .8rem;
	& img {
	vertical-align: middle;
		max-height: 30px;
		max-width: 30px;
	}
}

.player-scored, .player-keeper, .player-ascored, .player-akeeper {
	cursor: pointer;
	& img {
		width: 25px;
		height: 25px;
	}
}

.player-ascored, .player-akeeper {
	cursor: default;
}

.activehow {
	font-size: 1.2rem;
}

.table-showgame {
	border-collapse: collapse;
	& td {
		border-bottom: solid 1px #ccc;
	}
	& tr:first-child td {
		font-family: $font_header;
		font-size: 1.6rem;
	}
	& tr:first-child td:nth-child(2) {
		text-align: right;
	}
	& tr:first-child td:nth-child(3) {
		text-align: center;
	}
}

.player-number-score {
	background-color: #e7e7e7;
	min-width: 25px;
	text-align: center;
}

.achess {
	color: #8c9ba5;
	font-size: 1.5rem;
	font-family: $font_header
}

// chess
.chess {
	border-collapse: collapse;
	& td {
		color: #657a88;
		font-family: $font_header;
		text-align: center;
		min-width: 40px;
		border: 1px solid #e5e5e5;
	}
	& td:first-child {
		text-align: left;
		padding: .2rem;
		min-width: 100px;
	}
	& tr:nth-child(2n) td {
		background-color: $gray_lightest;
	}
	& tr:first-child td {
		height: 150px !important;
	}
}

.chess-transform {
	transform: rotate(270deg);
	width: 40px;
}

.chess-box {
	background-color: #e8e8e8 !important;
}

.chess-vertical {
	vertical-align: bottom;
	padding-bottom: 20px;
}

.tr-views {
	width: 100%;
	font-family: $font_header;
	font-size: 2rem;
	text-transform: uppercase;
	line-height: 1;
	& td {
		padding-bottom: 1rem;
	}
	& td:first-child {
		width: 70px;
	}
}