app_tournament_toolchess:
    path:     /tools/chess/{tournament}
    defaults: { _controller: AppTournamentBundle:Pages:toolchess, tournament: 0 }
    requirements:
        tournament: '\d+'

app_tournament_getgraph:
    path:     /graph/get
    defaults: {_controller: AppTournamentBundle:Pages:graphget }

app_tournament_toolgraph:
    path:     /tools/graph/{tournament}/users/{first}/{second}/{three}
    defaults: { _controller: AppTournamentBundle:Pages:toolgraph, tournament: 0,  first: 0, second: 0, three: 0 }
    requirements:
        tournament: '\d+'
        first: '\d+'
        second: '\d+'
        three: '\d+'

app_tournament_toolgames:
    path:     /tools/games/{first}/{second}
    defaults: { _controller: AppTournamentBundle:Pages:toolgames, first: 0, second: 0 }
    requirements:
        first: '\d+'
        second: '\d+'

app_tournament_ranking:
    path:     /ranking
    defaults: { _controller: AppTournamentBundle:Pages:ranking }

app_tournament_showgame:
    path:     /showgame/{id}
    defaults: { _controller: AppTournamentBundle:Tournament:showgame, id: 0 }

app_tournament_tourset:
    path:     /forecast
    defaults: { _controller: AppTournamentBundle:Tournament:forecast }

app_tournament_show:
    path:     /tournament/{id}/{tour}
    defaults: { _controller: AppTournamentBundle:Tournament:tournament, id: 0, tour: 0 }
    requirements:
        id: '\d+'
        tour: '\d+'

app_tournament_archive:
    path:     /archive/{id}/{tour}
    defaults: { _controller: AppTournamentBundle:Tournament:archive, id: 0, tour: 0 }
    requirements:
        id: '\d+'
        tour: '\d+'        

app_tournament_list:
    path:     /tournaments/{page}
    defaults: { _controller: AppTournamentBundle:Tournament:tournaments, page: 1 }
    requirements:
        pages: '\d+'

app_tournament_archives:
    path:     /archives/{page}
    defaults: { _controller: AppTournamentBundle:Tournament:archives, page: 1 }
    requirements:
        pages: '\d+'        

app_tournament_content:
    path:     /{content}
    defaults: { _controller: AppTournamentBundle:Pages:content }
    requirements:
        content: rules|about|faq|version